 *{
  font-family: Athelas;
}



@media (max-width: 576px) {
  .fs {
    font-size: 21px !important;
    margin-top: -91px !important;
    padding-bottom: 20px !important;
  }
  .bg-image {
    height: 40vh !important;
  }
  .logo {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: -70px !important;
  }
 
  .smallbtn {
    font-size: 11px !important;
    
  }

  .fss {
    font-size: 10px !important;
  }
  .blb{
    min-width: 200px !important;
  }
  
}

@media (min-width: 577px) and (max-width: 1200px) {
  .fs {
    font-size: 40px !important;
    padding-left: 20px !important;
    margin-top: -40px !important;
    text-align: start !important;
  }
 
  .bg-image {
    height: 70vh !important;
  }
  .firstdiv {
    display: flex !important;
    justify-content: space-between !important;
    flex-direction: row !important;
  }
  p {
    font-size: 13px !important;
  }
}
