.header {
  color: white;
  background-color: #e74c3c;
}

.banner {
  background: url(./image/bg.png) no-repeat;
  background-size: cover;
}
.title {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 7px;
  display: inline-block;
  margin: 0;
}
.lead {
  background-color: #e74c3c;
  padding: px;
  color: white;
}

.head {
  font-family: Athelas;
}
p {
  font-family: Athelas;
}
.image {
  width: 150px;
  height: 40px;
}
.bor {
  width: 100%;
}
.ff {
  font-family: Athelas;
  font-weight: 500;
}
.cyan {
  background-color: #edfaff;
}
@media (max-width: 320px) {
  .btn-320 {
    display: block !important;
    outline: none;
    border: none !important;
    position: relative;
    left: 30%;
    margin-left: 20% !important;

    top: -10px;
    z-index: 1000;
  }

  .conf img {
    height: 50% !important;
  }
  .bgg {
    margin-top: 10% !important;
  }
  .imgg {
    height: 80% !important;
  }
}

@media (max-width: 576px) {
  .fs {
    font-size: 20px !important;
    padding: 20px !important;
  }
  .para {
    width: 100% !important;
    font-size: 11px !important;
    padding: 10px !important;
    margin-top: 0 !important;
    padding-bottom: 50px !important;
  }
  .logo {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: -70px !important;
  }
  .bor {
    width: 50%;
    margin-left: 22% !important;
  }
}

@media (min-width: 577px) and (max-width: 1200px) {
  .fs {
    font-size: 40px !important;
    padding: 15px !important;
    text-align: start !important;
  }
  .para {
    width: auto !important;
    font-size: 12px !important;
    padding: 18px !important;
    margin-top: 10px !important;
    padding-bottom: 40px !important;
    text-align: start !important;
  }
  
 
}
