ul > li {
  font-family: Athelas !important;
  color: #606060 !important;
  line-height: 21.6px !important;
  letter-spacing: -0.25px !important ;
  padding-top:15px !important;
}
.logo{
    width: 6.5% !important;
}


