.header {
  color: white;
  background-color: #e74c3c;
}
ul li a {
  list-style-type: none;
}
.nav-link {
  color: white;
}
ul li a:hover {
  background-color: #c0392b;
}
.banner {
  background: url(./image/bg.png) no-repeat;
  background-size: cover;
}
.butt {
  background-color: rgba(245, 143, 45, 1);
}
.title {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 7px;
  display: inline-block;
  margin: 0;
}
.lead {
  background-color: #e74c3c;
  padding: px;
  color: white;
}

.head {
  font-family: Athelas;
}
p {
  font-family: Athelas;
}
.image {
  width: 150px;
  height: 40px;
}
.bor {
  width: 100%;
}
.ff {
  font-family: Athelas;
  font-weight: 500;
}
.cyan {
  background-color: #edfaff;
}

@media (min-width: 320px) and (max-width: 576px) {
  .fs {
    font-size: 15px !important;
    margin-top: -10px !important;
    padding-bottom: 20px !important;
  }

  .logo {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: -70px !important;
  }
  .fourbtn {
    width: 80px !important;
    margin-left: 70px !important;
  }
  .fourbtn1 {
    width: 100px !important;
    margin-left: 60px !important;
    margin-top: 10px !important;
  }
  .fourbtn2 {
    width: 130px !important;
    margin-left: 50px !important;
    margin-top: 10px !important;
  }
  .fourbtn3 {
    width: 130px !important;
    margin-left: 50px !important;
    margin-top: 10px !important;
    font-size: 15px !important;
  }
  .bg-image {
    height: 50vh !important;
  }
  .bor {
    width: 50%;
  }
}

@media (min-width: 577px) and (max-width: 1200px) {
  .fs {
    font-size: 40px !important;
    padding: 15px !important;
    text-align: start !important;
  }
  .bg-image {
    height: 60vh;
  }
}
